<!-- navbar -->
   {{> _adminNav}}
    <!-- end of navbar -->

    <!-- email sending -->
    <section>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-10 col-lg-9 col-md-8 ml-auto mt-4">
            <div class="pt-md-5 mt-md-3 mb-5 col-xl-12">
              <form>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputPassword4">Password</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                  </div>
                </div>
                <div class="form-group">
                  <label for="mail">Compose</label>
                  <textarea name="mail" class="form-control" id="mail" rows="6"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
              </form>
            </div>
         </div>
      </div>
    </div>
    </section>