{{#if message}}
<div style="text-align: center" class="alert alert-{{message.type}}" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<strong>{{message.msg}}</strong>
</div>
{{/if}}