<!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="/css_landing/style1.css">
      <title>Login</title>
  </head>
  <body>
      {{{body}}}
  </body>
  </html>