<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css_landing/style1.css">
  <!-- icon -->
  <link rel = "icon" href ="/images/logo.png" type = "image/x-icon">
  <title>Login | Registration</title>
</head>
<body>
  {{{body}}}
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script type="text/javascript" src="/js/script.js"></script>
</body>
</html>
