<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  
  <link rel="title icon" href="/images/title-img.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link href="/fontawesome-free-5.12.1-web/css/all.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://yaireo.github.io/tagify/dist/tagify.css'>

  <script src='https://yaireo.github.io/tagify/dist/tagify.js'></script>
  <link rel="stylesheet" href="/css/tagStyle.css">

  
  <title>{{title}}</title>
</head>
<body>   

  {{{body}}}
  
  <script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>


  <script type="text/javascript" src="/js/script.js"></script>
  <script type="text/javascript" src="/js/symptomScript.js"></script>



  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/chat/chat.js"></script>
  <script src="/js/chat/videoChat.js"></script>
  

  <script src='https://yaireo.github.io/tagify/dist/tagify.js'></script>
  <script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script>

  <script type="text/javascript">
  (function($){
    $.deparam = $.deparam || function(uri){
      if(uri === undefined){
        uri = window.location.pathname;
      }

      var value1 = window.location.pathname;
      var splitUrl = value1.split('/');
      var finalUrl = splitUrl[2]+'.'+splitUrl[4];
      return finalUrl;
    }    
  })(jQuery);
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>


</body>
</html>






