<div class="fixed-top">
{{> _message}}
</div>

<section id="nav-bar">

            <nav class="navbar navbar-expand-lg navbar-light">
              <a class="navbar-brand" href="#">
                  <img src="images/logo.png"> 
                </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="/">HOME</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contact" tabindex="-1" aria-disabled="true">CONTACT</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/users/login" tabindex="-1" aria-disabled="true">LOG IN</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/users/register" tabindex="-1" aria-disabled="true">PATIENT SIGN UP</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/users/docRegister" tabindex="-1" aria-disabled="true">DOCTOR SIGN UP</a>
                  </li>

                </ul>
              </div>
            </nav>
        </section>


        <!--banner-->
        <section id=banner>
            <div class="img-container">
                <div class="inner-container">
                </div>
            </div>
        </section>

        <!--about-->
        <section id=about>
            <div class="container">

               <div class="row">
                   <div class="col-md-12">
                    <h2>About Us</h2>
                        <div class="about-content">
                                 The project aims to build a prototype website to help health care deprived people through the internet by overcoming communication barrier with video conference and instant translator.
                                 Create a disease detection database that will narrow down the diseases developed in patients using the symptoms from the user
                        </div>
                    </div>


               </div>
             </div>
        </section>

        <!--Our services-->
            <section id="services" >
                <div class="container">
                    <h1>Our Services</h1>
                     <div class="row services">
                          <div class="col-md-4 text-center">
                              <div class="icon">
                            <i class="fa fa-phone"></i>
                              </div>
                              <h3>Video Call</h3>
                              <p>Video call and text message between doctors or health advisors and patients</p>
                         </div>
                          <div class="col-md-4 text-center">
                              <div class="icon">
                            <i class="fa fa-briefcase-medical"></i>
                              </div>
                              <h3>Symptom checker </h3>
                              <p>Symptom checker can find out the diseases a patient is suffering from by using the symptoms given by the patient</p>
                         </div>
                          <div class="col-md-4 text-center">
                              <div class="icon">
                            <i class="fas fa-file-medical-alt"></i>
                              </div>
                              <h3>E-Prescription</h3>
                              <p>Provide medical prescription to patients</p>
                         </div>
                     </div>
                </div>
            </section>

              <!--speccialist-->
              <section id="specialist">
                      <div class="container">
                          <h1>Our Doctors</h1>
                          <div class="row ">
                              <div class="col-md-4 profile-pic text-center">
                                 <div class="img-box">
                                     <img src="images/doc2.png" class="img-responsive">
                                 </div>
                                 <h2> Wazed Rifat</h2>
                                 <h3> Allergist</h3>
                              </div>

                              <div class="col-md-4 profile-pic text-center">
                                 <div class="img-box">
                                     <img src="images/doc3.png" class="img-responsive">
                                 </div>
                                 <h2> Asif Haque</h2>
                                 <h3> Neurologist</h3>
                              </div>

                              <div class="col-md-4 profile-pic text-center">
                                 <div class="img-box">
                                     <img src="images/doc2.png" class="img-responsive">
                                 </div>
                                 <h2> Tahmid Sakib</h2>
                                 <h3> Psychiatrist</h3>
                              </div>
                          </div>
                      </div>
              </section>


            <section id="testimonials">
                <div class="container">
                    <h1>What Our Patient Say About Us</h1>
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <div class="profile">
                                <img src="images/user1.jpeg" class="user">
                                <h2>Jon Doe<span><p> Patient</p></span></h2>
                                <blockquote>
                                    "I am satisfied about their Service"
                                </blockquote>

                            </div>
                        </div>
                         <div class="col-md-6 text-center">
                            <div class="profile">
                                <img src="images/2.png" class="user">
                                <h2>Rafin Lamia<span><p> Patient</p></span></h2>
                                <blockquote>
                                    "Their Doctor are very passionate"
                                </blockquote>

                            </div>
                        </div>
                    </div>
                </div>
                 </section>

                        <!--get in touch-->


        <footer>
            <div class="contianer-fluid p-0">
                <div class="row text-left">
                    <div class="col-md-7">
                        <h1 class="text-light">About Us</h1>
                        <p class="text-muted">
                            Angthas is an online appointment system for real time video conferencing 
                            between doctor and patient.
                        </p>
                        <p class="pt-4 text-muted">
                            Copyright @2021 | This project was developed by
                            <span>Tahasin Mahmud</span>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <h4 class="text-light">Follow Us</h4>
                        <p class="text-muted">Connect to us with</p>
                        <div class="column">
                            <i class="fab fa-facebook-f"></i>
                            <i class="fab fa-instagram"></i>
                            <i class="fab fa-twitter"></i>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
