{{> _message}}
<section id="nav-bar">
        
            <nav class="navbar navbar-expand-lg navbar-light">
              <a class="navbar-brand" href="#"><img src="images/logo.png"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="/">HOME</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">ABOUT</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="contact" tabindex="-1" aria-disabled="true">CONTACT</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/users/login" tabindex="-1" aria-disabled="true">LOG IN</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/users/register" tabindex="-1" aria-disabled="true">PATIENT SIGN UP</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/users/docRegister" tabindex="-1" aria-disabled="true">DOCTOR SIGN UP</a>
                  </li>

                </ul>  
              </div>
            </nav> 
        </section>
        
        
        <!--banner-->
        <section id=banner>
            <div class="img-container">
                <div class="inner-container">
                    <!-- <h3>First slide label</h3>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
                   <!--  <a class="btn1" href="#">Read more</a> -->
                </div>
            </div>
        </section>
        
        <!--about-->
        <section id=about>
            <div class="container">
               
               <div class="row">
                   <div class="col-md-12">   
                    <h2>About Us</h2> 
                        <div class="about-content">
                                 The project aims to build a prototype website to help health care deprived people through the internet by overcoming communication barrier with video conference and instant translator. 
                                 Create a disease detection database that will narrow down the diseases developed in patients using the symptoms from the user

                        </div>  
                        <button type="button" class="btn btn-primary">Read more>></button>
                    </div>

                    
               </div>     
             </div>           
        </section>
        
        <!--Our services-->
            <section id="services" >
                <div class="container">
                    <h1>Our Services</h1>
                     <div class="row services">
                         <div class="col-md-3 text-center">
                              <div class="icon">
                              <i class="fa fa-desktop"></i>      
                              </div>
                              <h3>Multilingual Translation</h3>
                              <p>In video conference between doctor and patient doctor’s language will be translated to user’s desired language.</p>
                         </div>
                          <div class="col-md-3 text-center">
                              <div class="icon">
                              <i class="fa fa-desktop"></i>      
                              </div>
                              <h3>Video Call</h3>
                              <p>System can be used to communicate (Video/Voice call) between doctors or health advisors and patients</p>
                         </div>
                          <div class="col-md-3 text-center">
                              <div class="icon">
                              <i class="fa fa-desktop"></i>      
                              </div>
                              <h3>Disease Identification </h3>
                              <p>Symptom checker can find out the diseases a patient is suffering from by using the symptoms given by the patient.</p>
                         </div>
                          <div class="col-md-3 text-center">
                              <div class="icon">
                              <i class="fa fa-desktop"></i>      
                              </div>
                              <h3>Health Information</h3>
                              <p>is used to generate report of patents and doctors</p>
                         </div>
                     </div>
                </div>
            </section>   
            
              <!--speccialist-->
              <section id="specialist">
                      <div class="container">
                          <h1>Our Doctors</h1>
                          <div class="row ">
                              <div class="col-md-3 profile-pic text-center">
                                 <div class="img-box">
                                     <img src="images/doc2.png" class="img-responsive">
                                     <ul>
                                         <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                                         <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                                         <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                                     </ul>
                                 </div> 
                                 <h2> Md Ishak</h2>
                                 <h3> Cardiologist</h3>
                                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                              </div>
                              
                              <div class="col-md-3 profile-pic text-center">
                                 <div class="img-box">
                                     <img src="images/doc2.png" class="img-responsive">
                                     <ul>
                                         <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                                         <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                                         <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                                     </ul>
                                 </div> 
                                 <h2> Tahasin Mahmud</h2>
                                 <h3> Neurologist</h3>
                                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                              </div>
                              
                              <div class="col-md-3 profile-pic text-center">
                                 <div class="img-box">
                                     <img src="images/doc2.png" class="img-responsive">
                                     <ul>
                                         <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                                         <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                                         <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                                     </ul>
                                 </div> 
                                 <h2> Tahmid Sakib</h2>
                                 <h3> Medicine</h3>
                                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                              </div>
                              
                              <div class="col-md-3 profile-pic text-center">
                                 <div class="img-box">
                                     <img src="images/doc2.png" class="img-responsive">
                                     <ul>
                                         <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                                         <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                                         <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                                     </ul>
                                 </div> 
                                 <h2> Dipak dipu</h2>
                                 <h3> Dentist</h3>
                                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                              </div>
                          </div>
                      </div>
              </section>
               
          
            <section id="testimonials">
                <div class="container">
                    <h1>What Our Patient Say About Us</h1>
                    <p class="text-center">Ishak is a bad boy</p>
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <div class="profile">
                                <img src="images/2.png" class="user">
                                <h2>Ismile Hoossain<span><p> Patient</p></span></h2>
                                <blockquote>
                                    "I am satisfied about their Service"
                                </blockquote>
                                
                            </div>
                        </div>
                         <div class="col-md-6 text-center">
                            <div class="profile">
                                <img src="images/2.png" class="user">
                                <h2>Rafin Lamia<span><p> Patient</p></span></h2>
                                <blockquote>
                                    "Their Doctor are very skilled"
                                </blockquote>
                                
                            </div>
                        </div>
                    </div>
                </div>
                 </section>                          
         
                        <!--get in touch-->
    
                                                                                 
          <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Find Us</h4>
                        <hr/>
                        <p> We have 24 hours 7 days Service </p>
                        <a href="#" class="learnmore">Learn More <i class="fa fa-caret-right"></i></a>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Quick Links</h4>
                        <hr/>
                        <ul class="footer-links">
                            <li><a href="#">About Us</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="#">Sign In</a></li>
                            <li><a href="#">Sign Up</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Community</h4>
                        <hr/>
                        <ul class="footer-links">
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Forum</a></li>
                            <li><a href="#">Free Goods</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 <block></block>">
                    <div class="footer-block">
                        <h4>Follow Us</h4>
                        <hr/>
                        <ul class="footer-links">
                            <li>
                                <a href="#" class="post">Facebook</a>
                            </li>
                            <li>
                                <a href="#" class="post">Twitter</a>
                                <p class="post-date">May 25, 2017</p>
                            </li>
                            <li>
                                <a href="#" class="post">Linkedin</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </section>