

body {
  font-family: 'Montserrat', sans-serif;
  font-size:12px;
  background-color: #eee;
}

/* navbar */
.sidebar {
  height: 100vh;
  background: linear-gradient(rgba(230, 249, 255, .7), rgba(204, 243, 255, .9)), url(images/img1.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 5px 7px 25px #999;
}

.bottom-border {
  border-bottom: 1px groove #eee;
}

.sidebar-link {
  transition: all .4s;
}

.sidebar-link:hover {
  background-color: #94A7BE;
  border-radius: 5px;
}

.current {
  background-color: rgb(116, 208, 216);
  border-radius: 7px;
  box-shadow: 2px 5px 10px #111;
  transition: all .3s;
}

.current:hover {
  background-color: rgb(83, 129, 188 );
  border-radius: 7px;
  box-shadow: 2px 5px 20px #111;
  transform: translateY(-1px);
} 
/*.search-input {
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #999;
  transition: all .4s;
}

.search-input:focus {
  background: transparent;
  box-shadow: none;
  border-bottom: 2px solid #dc3545;
}

.search-button {
  border-radius: 50%;
  padding: 10px 16px;
  transition: all .4s;
}

.search-button:hover {
  background-color: #eee;
  transform: translateY(-1px);
}*/

.icon-parent {
  position: relative;
}

.icon-bullet::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 15px;
  height: 12px;
  width: 12px;
  background-color: #f44336;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .sidebar {
    position: static;
    height: auto;
  }

  .top-navbar {
    position: static;
  }
}
/* end of navbar */

/* cards */
.card-common {
  box-shadow: 1px 2px 5px #999;
  transition: all .4s;
}

.card-common:hover {
  box-shadow: 2px 3px 15px #999;
  transform: translateY(-1px);
}
/* end of cards */
.back{
  background-color:rgb(207, 222, 242);
}

.outer{
  width:100%;
  text-align:center;
}

.inner{
  display: flex;  
  flex-wrap: wrap;
}
.no-border {
    border: 0;
    box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
}
.form-control {
    border: 0;
}




/*Symptomps*/
.containerCB {
    max-width: 640px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}

ul.ks-cboxtags {
    list-style: none;
    padding: 20px;
}
ul.ks-cboxtags li{
  display: inline;
}
ul.ks-cboxtags li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 2px solid #1bdbf8;
    background-color: #12bbd4;
    color: #fff;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  border: 2px solid #e9a1ff;
}



/*Symptomps and conditions buttons*/
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 20px;
    line-height: 1.33;
}

.btn-info:hover{
  color:#000;
  text-decoration:bold;
}


/*Doctor Search Box*/
/*.wrapper{
  transform:translate(-50%,-50%);
}*/

.card_profile {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;
  margin: auto;
  /*text-align: center;*/
}

.card_profile .title {
  color: grey;
  font-size: 8px;
}
button.button_prof{
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px;
  color: white;
  background-color: #1C9EB3;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.card_profile a{
  text-decoration: none;
  font-size: 13px;
  color: black;
}

button.button_prof:hover, a:hover{
  opacity: 0.7;
}
button.button_prof a:hover{
  opacity: 0.7;
}


.profile_info{
  font-size:18px;
}
.plabel{
  font-weight:bold;
}



.hrSt{
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
.hrSt{ /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}
.clsHr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/*.dropdown_hover:hover{
  background-color:red;
  text:black;
}*/
.slotButton {
    background:#2a9bf7;
    border-radius: 25px;
    color:#fff;
    outline: none;
    border: 0;
    cursor: pointer;
    padding: 1em;
}
.slotButton:active,
.slotButton:focus { 
    -moz-outline-style: none;
  outline:none;
  outline: 0; 
}

.slotButton {
    background:#2a9bf7;
    border-radius: 25px;
    color:#fff;
    outline: none;
    border: 0;
    cursor: pointer;
    padding: 1em;
}
.slotButton:active,
.slotButton:focus { 
    -moz-outline-style: none;
  outline:none;
  outline: 0; 
}

.slotButtonFree {
    background:#16e016;
    border-radius: 25px;
    color:#fff;
    outline: none;
    border: 0;
    cursor: pointer;
    padding: 1em;
}
.slotButtonFree:active,
.slotButtonFree:focus { 
    -moz-outline-style: none;
  outline:none;
  outline: 0; 
}

.slotButtonBook {
    background:#de0d0d;
    border-radius: 25px;
    color:#fff;
    outline: none;
    border: 0;
    cursor: pointer;
    padding: 1em;
}
.slotButtonBook:active,
.slotButtonBook:focus { 
    -moz-outline-style: none;
  outline:none;
  outline: 0; 
}