
{{> _patientNav}}
<!-- end of navbar -->

<!-- patient table -->
<section>
  <div class="container-fluid" >
    <div class="row" >
      <div class="col-xl-10 col-lg-9 col-md-8 ml-auto mt-4">
        <div class="pt-md-5 mt-md-3 mb-5 col-xl-12" >
          <div class="col-12 rounded"  style="border:0px solid grey;">
            <!-- Search box -->
            <form action="/patient/{{userName}}/symptompChecklast" method="POST" id="booking-form">
              <div class="tab-content">
                <div class="tab-pane" id="step1">
                  <ul>
                    <div class="container">
                      <h3 class="text-info font-weight-bold text-center mb-3">Info</h3>
                    </div>
                    <li>
                      <label>Gender</label><br>
                      <select name="gender" id="gender">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                      </select>
                    </li>

                    <li>
                      <label>Age</label><br>
                      <input name="age" id="age" type="number" min="10" max="100" id="age" value="20">
                    </li>
                    <li style="list-style: none; display: inline">
                      <button class="next-btn next-btn1" id="btn_first" type="button">Next</button>
                    </li>
                  </ul>
                </div>
                
                <div class="tab-pane" id="step2">
                  <div class="container">
                    <h3 class="text-info font-weight-bold text-center mb-3">Enter Your Conditions</h3>
                  </div>
                  <div class="container" >
                    <div class="row justify-content-left">
                      <div class="containerCB col-8 align-items-left" style="border:0px solid grey;">
                        <ul class="ks-cboxtags">
                          <li><input   data-target="#feverCondition" type="checkbox" id="fever" name="fever" value="fever"><label for="fever">Fever</label>
                          </li>
                          <li><input  data-target="#vomitCondition" type="checkbox" id="vomiting" name="vomiting" value="vomiting"><label for="vomiting">Vomiting</label>
                          </li>
                          <li><input type="checkbox" id="nausea" name="nausea" value="nausea"><label for="nausea">Nausea</label></li>
                          <li><input type="checkbox" id="loss_of_appetite" name="loss_of_appetite" value="loss of appetite"><label for="loss_of_appetite">Loss of Appetite</label>
                          </li>
                          <li><input type="checkbox" id="weight_loss" name="weight_loss" value="weight loss"><label for="weight_loss">Weight Loss</label>
                          </li>
                          <li><input type="checkbox" id="abdominal_pain" name="abdominal_pain" value="abdominal pain"><label for="abdominal_pain">Abdominal Pain</label>
                          </li>
                          <li><input type="checkbox" id="fatigue" name="fatigue" value="fatigue"><label for="fatigue">Fatigue</label></li>
                          <li><input type="checkbox" id="shortness_of_breath" name="shortness_of_breath" value="shortness of breath"><label for="shortness_of_breath">Shortness of Breath</label>
                          </li>
                          <li><input type="checkbox" id="sweating" name="sweating" value="sweating"><label for="sweating">Sweating</label>
                          </li>
                          <li><input type="checkbox" id="cough" name="cough" value="cough"><label for="cough">Cough</label></li>
                          <li class="ks-selected"><input type="checkbox" id="wheezing" name="wheezing" value="wheezing"><label for="wheezing">Wheezing</label>
                          </li>
                          <li><input type="checkbox" id="headache" name="headache" value="headache"><label for="headache">Headache</label>
                          </li>
                          <li><input type="checkbox" id="chest_pain" name="chest_pain" value="chest pain"><label for="chest_pain">Chest Pain</label></li>
                          <li><input type="checkbox" id="chills" name="chills" value="chills"><label for="chills">Chills</label></li>
                          <li><input type="checkbox" id="breathing_difficulties" name="breathing_difficulties" value="breathing difficulties"><label for="breathing_difficulties">Breathing Difficulties</label></li>
                        </ul>
                        <div class="modal fade" id="feverCondition" tabindex="-1" role="dialog" aria-labelledby="feverConditionLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">What kind of fever?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <form id="feverForm">
                                  <ul class="ks-cboxtags">
                                    <li><input type="radio" id="lowfever" name="feverCond" value="low fever">
                                      <label for="lowfever"> Low Fever</label>
                                    </li>(below 38 degree celcius)<br>
                                    <li><input type="radio" id="mildfever" name="feverCond" value="mild fever">
                                      <label for="mildfever"> Moderate Fever</label>
                                    </li>(38-38.5 degree celcius)<br>
                                    <li><input type="radio" id="highfever" name="feverCond" value="high fever">
                                      <label for="highfever">High Fever</label>
                                    </li>(above 38.5 degree celcius)<br>
                                  </ul>
                                </form>
                              </div>
                              <div class="modal-footer">
                                <button type="button" id="feverbtn" class="btn btn-info" data-dismiss="modal">Continue</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal fade" id="vomitCondition" tabindex="-1" role="dialog" aria-labelledby="vomitConditionLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">What kind of vomiting?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <form>
                                  <ul class="ks-cboxtags">
                                    <li><input type="checkbox" id="frequentVomit" name="frequentVomit" value="frequent vomiting">
                                      <label for="frequentVomit"> Frequent</label>
                                    </li><br>
                                    <li><input type="checkbox" id="bloodVomit" name="bloodVomit" value="vomiting with blood">
                                      <label for="bloodVomit"> Vomiting with Blood</label>
                                    </li><br>
                                    <li><input type="checkbox" id="noneVomit" name="noneVomit" value="vomiting">
                                      <label for="noneVomit">None of these</label>
                                    </li><br>
                                  </ul>
                                </form>
                              </div>
                              <div class="modal-footer">
                                <button type="button" id="vomitbtn" class="btn btn-info" data-dismiss="modal">Continue</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal fade" id="coughCondition" tabindex="-1" role="dialog" aria-labelledby="feverConditionLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">What kind of Cough?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <form>
                                  <ul class="ks-cboxtags">
                                    <li><input type="checkbox" id="frequentCough" name="frequentCough" value="frequent cough">
                                      <label for="frequentCough">Frequent</label>
                                    </li><br>
                                    <li><input type="checkbox" id="bloodCough" name="bloodCough" value="cough with blood">
                                      <label for="bloodCough"> Cough with Blood</label>
                                    </li><br>
                                    <li><input type="checkbox" id="coughDuration" name="coughDuration" value="cough more than 2 weeks">
                                      <label for="coughDuration"> Cough more than 2 weeks</label>
                                    </li><br>
                                    <li><input type="checkbox" id="coughMucas" name="coughMucas" value="cough with mucas">
                                      <label for="coughMucas"> Cough with mucas</label>
                                    </li><br>
                                    <li><input type="checkbox" id="noneCough" name="noneCough" value="cough">
                                      <label for="noneCough"> None of these</label>
                                    </li><br>
                                  </ul>
                                </form>
                              </div>
                              <div class="modal-footer">
                                <button type="button" id="coughbtn" class="btn btn-info" data-dismiss="modal">Continue</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-4 justify-content-left">
                        <div class="tagInput" id="tagsInput">
                          <h4>Your Symptom</h4>
                          <textarea name='tags' placeholder='Type Here'></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                  <li>
                    <button class="next-btn next-btn2 mb-3" id="checker" type="button">Next</button>
                  </li>
                </div>

                <div class="tab-pane" id="step3">
                  <div class="container " id="qLabel">
                    <h3 class="text-info font-weight-bold text-center mb-3">Questionnaire</h3>
                  </div>
                  <div class="fa-3x align-items-center justify-content-center" id='processing'>
                    <h3 class="text-info font-weight-bold text-center mb-3"><i class="fas fa-spinner fa-pulse"></i>Processing</h3>
                    
                  </div>
                  <ul>
                    <div id="Asthma">
                      <label>Trouble sleeping caused by shortness of breath?</label><br>
                      <select name="AsthmaQ1" id="AsthmaQ1">
                        <option value="no">No</option>
                        <option value="yes">Yes</option>

                      </select>
                      <label>Rapid worsening of shortness of breath or wheezing?</label><br>
                      <select name="AsthmaQ2" id="AsthmaQ2">
                        <option value="no">No</option>
                        <option value="yes">Yes</option>

                      </select>
                    </div>

                    <div id="Acute_bronchitis">
                      <label>A foul-tasting fluid in your mouth?</label><br>
                      <select name="Acute_bronchitisQ1" id="Acute_bronchitisQ1">
                        <option value="no">No</option>
                        <option value="yes">Yes</option>

                      </select>
                    </div>

                    <div id="Allergy">
                      <label>Swollen, blue-colored skin under the eyes?</label><br>
                      <select name="AllergyQ1" id="AllergyQ1">
                        <option value="no">No</option>
                        <option value="yes">Yes</option>

                      </select>


                    </div>

                    <div id="Anthrax">
                      <label name="getThis">Sore throat and difficulty swallowing?</label><br>
                      <select name="AnthraxQ1" id="AnthraxQ1">
                        <option value="no">No</option>
                        <option value="yes">Yes</option>

                      </select>

                    </div>

                    <div id="Acute_liver_failure">
                      <label>Yellowing of your skin and eyeballs (jaundice)?</label><br>
                      <select name="Acute_liver_failureQ1" id="Acute_liver_failureQ1">
                        <option value="no">No</option>
                        <option value="yes">Yes</option>

                      </select>
                      <label>A general sense of feeling unwell (malaise)?</label><br>
                      <select name="Acute_liver_failureQ2" id="Acute_liver_failureQ2">
                        <option value="no">No</option>
                        <option value="yes">Yes</option>

                      </select>
                    </div>

                    <div id="Chronic_cough">
                      <label>A feeling of liquid running down the back of your throat?</label><br>
                      <select name="Chronic_coughQ1" id="Chronic_coughQ1">
                        <option value="no">No</option>
                        <option value="yes">Yes</option>

                      </select>
                      <label>Frequent throat clearing and sore throat?</label><br>
                      <select name="Chronic_coughQ2" id="Chronic_coughQ2">
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                      </select>
                    </div>


                    <div id="Concussion">
                      <label>Ringing in the ears?</label><br>
                      <select name="ConcussionQ1" id="ConcussionQ1">
                        <option value="no">No</option>
                        <option value="yes">Yes</option>

                      </select>
                    </div>

                    <div id="Malaria">
                      <label>shivering and chills, followed by a high fever?</label><br>
                      <select name="MalariaQ1" id="MalariaQ1">
                        <option value="no">No</option>
                        <option value="yes">Yes</option>

                      </select>
                    </div>


                    <div id="Lung_Abscess">
                      <label>Cough productive of large amounts of foul-smelling sputum?</label><br>
                      <select name="Lung_AbscessQ1" id="Lung_AbscessQ1">
                        <option value="no">No</option>
                        <option value="yes">Yes</option>

                      </select>
                    </div>


                    <div id="Pneumonia">
                      <label>Severe aches and pains?</label><br>
                      <select name="PneumoniaQ1" id="PneumoniaQ1">
                        <option value="no">No</option>
                        <option value="yes">Yes</option>

                      </select>
                      <label>Fast breathing and heartbeat?</label><br>
                      <select name="PneumoniaQ2" id="PneumoniaQ2">
                        <option value="no">No</option>
                        <option value="yes">Yes</option>

                      </select>
                    </div>

                    <div id="Leukemia">
                      <label>Swollen lymph nodes, enlarged liver or spleen?</label><br>
                      <select name="LeukemiaQ1" id="LeukemiaQ1">
                        <option value="no">No</option>
                        <option value="yes">Yes</option>

                      </select>
                      <label>Easy bleeding or bruising?</label><br>
                      <select name="LeukemiaQ2" id="LeukemiaQ2">
                        <option value="no">No</option>
                        <option value="yes">Yes</option>

                      </select>
                    </div>

                    <div id="Gastritis">
                      <label>Burning or gnawing feeling in the stomach between meals or at night?</label><br>
                      <select name="GastritisQ1" id="GastritisQ1">
                        <option value="no">No</option>
                        <option value="yes">Yes</option>

                      </select>
                      <label>A feeling of fullness in your upper abdomen after eating?</label><br>
                      <select name="GastritisQ2" id="GastritisQ2">
                        <option value="no">No</option>
                        <option value="yes">Yes</option>
                      </select>
                    </div>
                    <div id="Dengue">
                      <label>Muscle, bone and joint pain?</label><br>
                      <select name="DengueQ1" id="DengueQ1">
                        <option value="no">No</option>
                        <option value="no">No</option>

                      </select>
                      <label>Pain behind the eyes?</label><br>
                      <select name="DengueQ2" id="DengueQ2">
                        <option value="no">No</option>
                        <option value="yes">Yes</option>
                      </select>
                    </div>

                    <li>
                      <button class="submit-btn" id="submit-btn" type="submit">Submit</button>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="progress-wrap" id="progress-line">
                <div class="line-progress-bar">
                  <div class="line" ></div>
                  <ul class="checkout-bar">
                    <li class="progressbar-dots active"><span>step 1</span></li>
                    <li class="progressbar-dots"><span>step 2</span></li>
                    <li class="progressbar-dots"><span>Final step</span></li>
                  </ul>
                </div>
              </div>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end of table -->


