<div class="wrapper">
    <div class="title">
      Registration Form
    </div>
    <form action="/users/docRegister" class="form" method="post">
       <div class="inputfield form-group">
          <label>User Name</label>
          <input type="text" name="userName" class="input">
       </div>  
        <div class="inputfield">
          <label>Full Name</label>
          <input type="text" name="name" class="input">
       </div>  
       <div class="inputfield">
          <label>Password</label>
          <input type="password" name="password1" class="input">
       </div>  
      <div class="inputfield">
          <label>Confirm Password</label>
          <input type="password" name="password2" class="input">
       </div> 
        <!-- <div class="inputfield">
          <label>Gender</label>
          <div class="custom_select">
            <select>
              <option value="">Select</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </div>
       </div> --> 
        <!-- <div class="inputfield">
          <label>Specialist</label>
          <div class="custom_select">
            <select>
              <option value="">Select</option>
              <option value="Medicine">Medicine</option>
              <option value="Cardiologist">Cardiologist</option>
              <option value="Neurosurgeon">Neurosurgeon</option>
              <option value="Dentist">Dentist</option>
            </select>
          </div>
       </div>  -->
        <div class="inputfield">
          <label>Email Address</label>
          <input type="text" name="email" class="input">
       </div> 
      <div class="inputfield">
          <label>Phone Number</label>
          <input type="text" name="contact" class="input">
       </div> 
      <div class="inputfield">
          <label>Address</label>
          <textarea class="textarea" name="address"></textarea>
       </div>  
      <div class="inputfield">
        <input type="submit" value="Register" class="btn">
      </div>
    </form>
</div>	