*{
    margin: 0;
    padding: 0;
}

/*navigation bar*/


#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand img{
    height: 40px;
    padding-left: 30px;
}
.navbar-nav li
{
    padding: 0 10px;
    
}
.navbar-nav li a
{
    float: right;
    text-align: left;
    
}


#nav-bar ul li a:hover{
    color: #007bff!important;
    
}

.navbar
{
    background: #fff ;
}
.navbar-toggler
{
    border: none!important;
}

.nav-link
{
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}

/*slider*/

#slider
{
    width: 100%;
}
.d-block{
    width: 100%;
  height: 400px;
}
.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial!important;
}
.carousel-caption h5{
    color: #000;
    font-size: 42px;
}

/* About */
#about{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}
#about .btn{
    margin-top: 20px;
    margin-bottom: 30px;
}
.about-content{
    padding-top: 20px
}

.skills-bar p{
    margin-bottom: 6px;
    font-weight: 600;
    color: #000;
}
.progress-bar{
    border-radius: 16px;
}
.progress{
    border-radius: 16px !important;
    margin-bottom: 20px;
}

/*banner*/

.img-container{
    background-image: url(../images/1.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative
}

.inner-container
{
    text-align: center;
    position: absolute;
    width: 100%;
    color: white;
    height: auto;
    margin-top: 200px;
}
#banner h1{
    font-size: 7em;
    font-family: "Shadows into Light", sans-serif;
    
}
#banner h2{
    margin-top: -17px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.7em;
    text-align: center;
    font-weight: 400;
}
#banner a{
    margin-top: 20px;
    font-size: 1.3em;
    font-family: "Source Sans Pro", sans-serif;
}
.bt1{
    display: inline-block;
    width: 200px;
    font-weight: bold;
    padding: 10px;
    color: #fff;
    border: 4px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: background color 0.2 ease out, color 0.2 s ease out;
    
}

.btn1:hover, .btn:active{
    background-color: #fff;
    color: #000;
    transition: background-color 0.3s ease-in, color 0.3 ease-in; 
}

/*services*/
#services{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../images/6.png);
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}
#services h1{
      text-align: center;
    color: #efefef !important;
    padding-bottom: 10px;
}
#services h1::after{
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.services{
    margin-top: 40px;
}
.icon{
    font-size: 40px;
    margin: 20px auto;
    padding: 20px;
    height: 80px;
    width: 80px;
    border: 1px solid #fff;
    border-radius: 50%;
}
#services p{
    font-size: 14px;
    margin-top: 20px;
    color: #ccc;
}
#services .col-md-3:hover{
    background: #007bff;
    cursor: pointer;
    transition: 0.7s;
}

/*_____Specialist___*/
#specialist
{
   padding-top:  50px;
    padding-bottom: 50px;
    color: #555;
}


 h1{
     padding-top: 10px;
      text-align: center;
    color: #555 !important;
    padding-bottom: 10px;
}

 h1::after{
    content: '';
    background: #007bff;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}

.profile-pic
{
    margin-top: 25px;
    
}
.profile-pic .img-box
{
    opacity: 1;
    display: block;
    position: relative;
        
}
.profile-pic .img-box img
{
    
    filter: grayscale(1);
}
.profile-pic .img-box img:hover
{
    
    filter: grayscale(0);
    cursor: pointer;
}
.profile-pic h2
{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    color: #007bff !important; 
    
}
.profile-pic h3
{
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px; 
   
}
#specialist .fa
{
    height: 25px;
    width: 25px;
    color: #007bff !important;
    padding: 4px;
    border-radius: 50%;
}

.img-box ul
{
    padding: 15px 0;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
}
.img-box ul li
{
    padding: 5px;
    display: inline-block;
}
.img-box:hover ul
{
    opacity: 1;
}
.img-box ul, .img-box ul li 
{
    transition: 0.5s;
}

/*---promo---*/

#promo
{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/3.png);
    background-size: cover;
    background-position: center;
    color: #fff;
    background-attachment: fixed;
    text-align: center;
    padding: 100px;
    font-family: sans-serif;
    font-size: 38px;
}

/*---/*---departments---*/---*/
#departments
{
    padding-top: 50px;
    padding-bottom: 50px;
    background: #efefef;
}

.medicine
{
    margin: 10px auto;
    display: inline;
    float: left;
    width: 100%;
    background-color: #fff;
    transition: 0.5s;
}

.medicine:hover
{
    box-shadow: 0 2px 20px #333;
}
.medicine-head
{
    background-color: #2196f3;
    display: inline;
    float: left;
    padding: 10px 5px;
    text-align: center;
    width: 100%;
}

.medicine-head h2
{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px;
    text-transform: uppercase;
}

.medicine-head p
{
    font-size: 25px;
    color: #000;
    font-weight: bold;
    line-height: 30px;
}

.department-content 
{
    display: inline;
    float: left;
    width: 100%;
    padding: 0 15px;
}

.department-content ul li
{
    border-bottom: 1px solid #efefef;
    padding: 15px 10px;
    list-style: none;
}

.fa-check
{
    color: green;
    margin-right: 10px;
    font-size: 20px;
}

.dept-button
{
    display: inline;
    float: left;
    padding: 15px 15px 30px;
    text-align: center;
    width: 100%;
}

a{
    text-decoration: none!important;
    color: #fff!important;
}

/*testimonials*/
#testimonials
{
    padding-top: 50px;
    padding-bottom: 50px;
}

#testimonials .row
{
    margin-top: 70px;
}


.profile
{
    padding: 70px 10px 10px;
    background-color: #efefef;
    
}

.user
{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.profile img
{
    top: -60px;
    position: absolute;
    left: calc(50%-60px);
    border: 10px solid #fff;
}
.profile h2
{
    font-size: 20px;
    margin-top: 15px;
    color: #007bff;
}
#testimonials span
{
    font-size: 12px;
    color: #000;
    
}

blockquote
{
    font-size: 16px;
    line-height: 30px;
}
.profile:hover
{
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 0.5s;
}

/*get in touch*/

#contact{
    
    background:#efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777;
}
.contact-form{
    padding: 15px;
}
.form-control{
    border-radius: 0 !important;
    border: none !important;
}

::placeholder{
    color: #999 !important;
}


.follow{
    background: #fff;
    padding: 10px;
    margin: 15px;
    
}
.contact-info .fa{
    margin: 10px;
    color: #007bff;
    font-weight: bold;
} 

/*footer*/

#footer{
    padding-top: 50px;
    padding-bottom: 50px;
   background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/8.png);
   
}

 h4{
    
    color: #fff !important;
    padding-bottom: 10px;
}

 h4::after{
    content: '';
    background: #007bff;
    display: block;
    height: 3px;
    width: 170px;
    margin-top: 20px;
}

p
{
    color: #fff !important;
}

#bottom-footer
{
    background: #333;
    color: #fff;
    padding: 12px;
}
.fa-heart-o
{
    margin: 3px;
    color: red;
}



